@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Story+Script&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;    
}


html, body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
}

body {
    background: url(imagens/wallpaper004.jpg) center center / cover no-repeat fixed;
}

#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 627px;
    width: 311px;

    background: url(imagens/frame-iphone.png)center center / cover no-repeat fixed;
}

#home {
    position: absolute;
    top: 50.5%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 471px;
    width: 267px;
}

section img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 1px 1px 1px black;
}

section img:hover {
    border: 2px solid rgba(255, 255, 255, 0.695);
    box-shadow: 2px 2px 2px black;
    transform: translate(2px, 2px);
}